div {

	padding: 1em;
	background: white;
	border: 1px solid #eee;
}

.section {

	background: #fee;
}

.hidden {

	display: none;
}

.item {

	background: #ddf;
}

/*try custom tags*/
scrollbar {

	display: block;
	width: 1em;
	min-height: 2em;
	background: #888;
}