div
{
	padding: 1em;
	background: white;
	border: 1px solid #eee;
}

#simple, #table, #ties
{
	background: #fee;
}

scrollbar
{
	display: block;
	width: 1em;
	min-height: 2em;
	background: #888;
}

.item
{
	background: #ddf;
}