body
{
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
}

div
{
	padding: 1em;
	background: white;
	border: 1px solid #eee;
}

#loginForm
{
	width: 300px;
	background: #eee;
	margin: 3em auto;
}

#loginForm input, #loginForm button
{
	display: block;
	margin: 1em auto;
	padding: 0.25em;
}

.hidden
{
	display: none;
}

#collection
{
	background: #fee;
	width: 100%;
	float: left;
}

.display
{
	background: #efe;
	width: 8em;
	float:left;
	cursor: pointer;
	margin: 1em;
	
}

.display.selected
{
	background: #ddf;
}

.display .close
{
	width: 1em;
	float: right;
	cursor: pointer;
	display: none;
}

.selected .close
{
	display: block;
}

.display #name
{
	color: #00f;
}

.display #name.male
{
	color: #f00;
}